.button{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    transition: backgroud-color 0.5 ease;
}
.button:hover{
    background-color: brown;
}

@keyframes rotate{

    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.rotate-box{
    margin: 50px;
    padding: 50px;
    width: 100px;
    height: 100px;
    background-color: orangered;
    animation: rotate 2s linear infinite;
}