.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.box1{
    width: 50px;
    height: 50px;
    background-color: lightblue;
}

.box2{
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
}

.box3{
    width: 50px;
    height: 50px;
    background-color: yellow;
}