body{
    background-color: lightgreen;
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

p{
    color: rgb(98, 0, 255);
}

.important{
    color: red;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}