/* Page utilisée pour cette stylesheet: exo 1.html */

.important{
    background-color: aquamarine;
    font-weight: bold;
}

p{
    background-color: lightblue;
}

.footer{
    background-color: white;
}

#Titre{
text-align: center;
}